/* ***BASIC SETTINGS*** */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body,
html {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 16px;
  background-color: rgb(253, 245, 235);
}
h1 {
  text-align: center;
}

/***** Set the game area *****/
/* add background color, so it's more visible for dev, not that responsive, because we don't need that*/
.game-area {
  margin: 0 auto;
  width: 80%;
  min-width: 650px;
  padding: 15%;
  display: flex;
  justify-content: center;
  align-content: center;
}
/* set target area, so it looks nice without the js  */
.target-area {
  max-width: 660px;
  min-width: 640px;
  min-height: 480px;
  padding: 5px;
  border: black solid 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.img-piece {
  max-width: 200px;
  max-height: 225px;
  border: 2px blue dashed;
  /* add this later when transform is ready in js */
  transition: transform 0.2s ease;
}

.draggable {
  /* Indicate the element draggable */
  cursor: move;
  /* It will be positioned absolutely */
  position: absolute;
  /* Doesn't allow to select the content inside */
  user-select: none;
}
